span.ripple-animate {
    position: absolute; 
    border-radius: 100%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255,255, 255, 0.35);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }